@media screen and (max-width:1200px) {
 
    .navbar ul{
    width: 90%;    
    vertical-align: middle;
    left: 5%;
    }
    .navbar {
      width: 100%;
      height: 100px;
    }
    
    h2 {
      font-size: 45px;
    }
    .logo a img {
    max-width: 100%;
    width: 100%;
    display: block;
    vertical-align: middle;
    } 

    .idioma a img{
    width: 4%;
    height: 4%;
    display: block;
    position: relative;
    margin: -5px;
    }

    .form {
    width: 80%;
    display: block;
    margin: auto;
    float: none;
    }
   
    .mapa iframe{
    width: 80%;
    display: block;
    margin: 10px auto;
    float: none;
    }

    .btn-success {
      width:200px;
      margin: 10px auto;
      display: block;
      background-color: rgb(157, 194, 169);
  }
  
    

    .contacto a img{
    display: block;
    width: 200px;
    height: 200px;
    position: relative;
    float: left;
    margin: 10px 10px;
    }
    }

@media screen and (max-width:992px) {
   
  i.material-icons {
    font-size: 24px;
      
  }
  .nav-wrapper {
    height: auto;
  }

    aside {
    height: auto;
    }
     
    .logo a img {
    max-width: 100%;
    width: 100%;
    position: relative;
    float: right;
    display: block;
    margin-top: 25px;
    } 
    h2 {
      font-size: 40px;
    }
    .btn-success {
      width:200px;
      margin: 10px auto;
      display: block;
      background-color: rgb(157, 194, 169);
  }
  
  
      p {
      font-size: 80%;
    }
    form {
    display: block;
    margin: auto;
    }
     
    .contacto a img{
    display: inline-block;
    width:50%;
    position: relative;
    float: left;
    margin: 0px auto;
    }
    
    }


@media screen and (max-width:768px) {
   
  i.material-icons {
    width: 24px;
    height: 56px;
  
  }
  .logo a  img{
    max-width: 100%;
    width: 100%;
    margin-top: 55px;
  } 

  aside {
    display: block;
  }


  .navbar {
    width: 100%;
    height: 100px;
  }
  .content a {
    font-size: 10px;
    font-weight: bold;
  }

  p{
    font-size: 60%;
  }


  .form {
  display: block;
  margin: 10px auto;
  width: 470px;

  }

  .mapa {
  display: block;
  margin: auto;
  float: none;
  width: auto;
  }

  .contacto a img{
  display: inline-block;
  width:50%;
  height:50%;
  position: relative;
  float: left;
  margin: 0px auto;
  }

  h1 {
     font-size: 24px;
     box-shadow: none;
  }

  .btn-success {
    width:180px;
    margin: 10px auto;
    display: block;
    background-color: rgb(157, 194, 169);
}
.content {
  width: 50%;
  height: 50%;
  margin: 20px auto;
  background-color: white;
  color:black;
  border: solid 2px black;
  text-align: center;
  }   

  .btn a {
    font-size: 10px;
  }
}

@media screen and (max-width:576px) {

   .logo a  img{
      max-width: 100%;
      width: 100%;
      margin-top: 55px;
    } 

    aside {
      display: block;
    }
  
   
    }
    .navbar {
      width: 100%;
      height: 100px;
    }
    .content a {
      font-size: 10px;
      font-weight: bold;
    }

    p{
      font-size: 60%;
    }
  

    .form {
    display: block;
    margin: 10px auto;
    height: 450px;
  
    }

    .mapa {
    display: block;
    margin: 10px auto;
    float: none;
    }

    .contacto a img{
    display: inline-block;
    width:50%;
    height:50%;
    position: relative;
    float: left;
    margin: 0px auto;
    }

    h1 {
       font-size: 24px;
       box-shadow: none;
    }

    .btn-success {
      width:160px;
      margin: 10px auto;
      display: block;
      background-color: rgb(157, 194, 169);
  }
  
    .btn a {
      font-size: 10px;
    }

    .content {
      width: 50%;
      height: 50%;
      margin: 20px auto;
      background-color: white;
      color:black;
      border: solid 2px black;
      text-align: center;
      }   
  


    }