
* {
    box-sizing: border-box;
  }

/*********BASE*****/  
body {
    max-width: 100%;
    width: 1200px;
    padding: 5px;
    margin: 0px auto;
    background-color: #E8EBEB ;
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic;
    line-height: 1.5;
    font-size: x-large;
    }

article,
aside,
footer,
header,
main,
menu,
nav,
section,
    {
     display: block;
    }

@font-face {
    font-family: 'Josefin Sans', sans-serif;
    src: url("../fonts/JosefinSans-Italic-VariableFont_wght")    
    format("wght"),
    url("../fonts/JosefinSans-VariableFont_wght") format("wght");
    font-weight: normal;
    font-style: normal;
}

ul  {
    list-style: none;
   }

p
    {
    display: block;
    font-weight: bold;
    margin: 2px;
    text-align: center;
    }   

label {
   display: block;
   font-weight: bold;
   margin: auto; 
   }

h1 {
    font-size:25px;
    font-weight: bold;
    display: block;
    margin: 15px auto;
    text-align: center;
    width: 80%;
    color: rgb(39, 43, 82);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(88, 92, 85);
    border:solid 1px;
    }

h2 {
   width:auto;
   height: auto;
   margin:auto;
   display: block;
   font-style: normal;
   font-size: 50px;
   text-align: center;
   text-decoration: underline;
   color: rgb(14, 53, 71) ;
   }   

a  {
   font-size: 30px;
   font-style: italic;
   font-weight: bold;
   color: rgb(4, 56, 48);
   text-decoration: none;
   display: block;
   }

img, 
video {
    max-width: 100%;
    margin: 15px auto;
    }
/*************base*******************/
/* ---------- helpers ------------- */
.slider img {
   width: 100%;
   height: 50%;
   margin: 0px;
   display: block;
   overflow: hidden;
   background: transparent;
   }

.slider {
   width: 100%;
   overflow: hidden;
   color: transparent;
   }

.hamburger-box {
   display: none; 
   }

.navbar{
   max-width: 100%;
   position: fixed;
   background-color: rgb(112, 170, 151);
   width:1170px;
   height:100px;
   top:0;
   margin: auto;
   z-index:9999; /*sirve para traer adelante el NAV*/
  }
.navbar ul {
   width: 80%;
   display:block;
   margin: 5px auto;
   position: relative;
   float:left;
   }

.navbar ul li{
    display: inline-block;
    position: relative;
    float: left;
    margin: 5px 10px;
   }

.navbar ul li a {
    display: block;
    padding: 5px;
    text-decoration: none;
    }

.logo a img {
   width: 80px;
   display: block;
   position:absolute;
   top:-50px;
   }

.logo a {
    height: 50px; 
   }

.logo-2 {
    display: block;
    margin: auto;
    }

.mb-15 {
	margin-bottom:15px;
    }  

.mt-15 {
	margin-top:15px;	
    }

.float-left{
    float: left;
    } 

.float-right{
    float: right;
    }

header a img {
    width: 30%;
    display: block;
    padding: 0px auto;
    position: relative;
    margin: -15% auto;
    }

ul li a:hover{
    background-color: rgb(246, 255, 204);

}

.mapa iframe{
    margin:auto;
    }
                 
.article-hotel img{
    max-width: 100%;
    width: 100%;
    height: 50%;
    display: block;
    margin: 15px auto;
    }

.article-hotel span{
    width:auto;
    display: block;
    border-radius: 10px;
    border: solid 2px;
    box-shadow: 5px 0px 10px rgb(54, 56, 54);
    text-align: left;
    }

.services img {
    width: 200px;
    height:50px;
    padding: 0px;
    height: auto;
    display: block;
    margin: auto;
    }

/*----------layouts-----------------*/


.contacto a img{
    display: block;
    width: 25%;
    float: left;
    position: relative;
    }

.logo-2 {
    width: 50%;
    position: absolute;
    left: 25%;
    top:10%;
    z-index: 999999999999999999;
   }

.contacto a {
    max-width: 100%;
    position: relative;
    margin: auto;
    display: block;
    text-align: center;
    }

.form {
    width: 400px;
    height: 450px;
    display: block;
    float: left;
    position: relative;
    background-color: rgb(157, 194, 169);
    border-radius: 5px;
    box-shadow: 5px 5px 10px ;
    margin: 5px auto; 
    padding: 5px;
    }

input {
    width: 100%;
    }

.mapa iframe{
    display: block;
    float: left;
    width: 700px;
    height: 450px;
    max-width: 100%;
    margin: 6px;
    }
/* ---------- components ------------- */
.btn-group-vertical{
    display: block;
    margin: auto;    
    }

.btn-success {
    margin: 5px auto;
    display: block;
    width: 40%;
    background-color: rgb(157, 194, 169);

    
}
/*
.btn{
    margin: 15px auto;
    display: block;
    box-shadow: 5px 5px 5px;
    background-color: rgb(170, 192, 161);
    border-radius: 0%;
    }
*/   
.btn a{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: large;
    text-decoration: none;
    }

.btn:hover{
    background-color: rgb(246, 255, 204);
    }
 
/* Grid system */ 
.row {
    margin-right: -15px;
    margin-left: -15px;
     }
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12 {
    position:relative;
    float:left;
    min-height:1px;
    padding-left:15px;
    padding-right:15px;
    }
  
  /* 
   12 ----- 100%
   5  ----- x
  
   Camino más corto
   5/12
  */
  
  .col-12 {
    width:100%;
    }

  .col-11 {
      width: 91.66666667%;
    }

  .col-10 {
    width: 83.33333333%;
    }

  .col-9 {
    width: 75%;
    }

  .col-8 {
    width: 66.66666667%;
    }

  .col-7 {
    width: 58.33333333%;
    }

  .col-6 {
    width: 50%;
  }  
  .col-5 {
    width: 41.66666667%;
  }
  .col-4 {
    width: 33.33333333%;
  }
  .col-3 {
    width: 25%;
  }
  .col-2 {
    width: 16.66666667%;
  }
  .col-1 {
    width: 8.33333333%;
  } 
  
  

/* ---------- pages/sections ------------- */
/*punto 5.1 agregado de imagen de fondo al header*/
header {
    background-image:url("../images/section_1_hotel.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    }

.container {
    width:1200px;
    height:auto;
    position:relative;
    margin:0px auto;
    padding-left:15px;
    padding-right:15px;
    overflow:hidden;
    max-width:100%;
    }
      
header {
    max-width: 100%;
    width: 100%;
    height:500px;
    margin-top: 150px;
    padding: 15px;
    position: relative;
    }

nav {
    background-color: rgb(197, 231, 184);
    width: 23.0769%;
    height:550px;	
    max-width: 100%;
    position: relative;
    border-radius: 15px;
    }

section {
    width:100%;
    height:auto;
    margin: 15px auto;
    display:block;
    float:left;
    position: relative;
    border: solid 0.5px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(40, 41, 40);
    }

aside {
	width:100%;
	height:auto;	
    margin: 15px auto;
    /*position: relative;*/
	/*float: right;*/
    position:relative;
	display: block;
    float: left;
    border: solid 1px black;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgb(36, 35, 35);
    }

footer {	
    width: 100%;
    height:auto;
    margin: 15px auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
    border:solid 1px black;
    }

.modal_mask {
    position: fixed;
    width: 100%;
    top:800px;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: 9999;
    pointer-events: none;
    background-color: rgba(0,0,0,0.35);
    transition:all 400ms ease-in-out;
    }

.content {
    width: 60%;
    margin: 30px auto;
    background-color: white;
    color:black;
    border: solid 2px black;
    text-align: center;
    }   

.modal_mask:target {
    opacity:1;
    top:0px;
    pointer-events: auto;
    }

.content h3 {
    color:rgb(69, 134, 78);
    text-decoration: underline;
    font-weight: bold;
    }



















/*
estilos slider
.slider {
    width: 95%;
    margin: auto;
}
.slider ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 20s infinite alternate linear;
    animation-timing-function: ease-out;
}

.slider li {
    width: 80%;
    list-style: none;
}
.slider img{
    width: 80%;
}
@keyframes cambio {
    0%  {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}
    
    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}
.galeria {
    width: 90%;
    margin: auto;
    list-style: none;
    padding: 50px;
    box-sizing: border-box;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.galeria li{
    margin: 5px;
}
.galeria img {
    width: 150px;
    height: 100px;
}
         fin estilos slider

*/


/* estilos del modal 
.modal {
    display: none;
}
.modal:target{
    display: block;
    position: fixed;
    background-color: rgb(0, 0, 0, 0.7);
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}

.modal h3{
    color: blue;
    font-size: 30px;
    text-align: center;
    margin: 15px 0;
    }

.imagen {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagen a {
    color: orange;
    font-size: 40px;
    text-decoration: none;
    margin: 0 10px
}
.imagen a:nth-child(2){
    margin: 0;
    height: 100%;
    flex-shrink: 2;
}

.imagen img {
    width: 500px;
    height: 100%;
    max-width: 100%;
    border: 10px solid brown;
    box-sizing: border-box;
}
.cerrar {
    display: block;
    background-color: chartreuse;
    width: 25px;
    height: 25px;
    margin: 20px auto;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color: black;
    padding: 5px;
    border-radius: 50%;
    line-height: 25px;
}

/* fin estilos modal*/

/*
 slider manual
.m-slider {
    width:800px;
    height: 600px;
    margin: auto;
    position: relative;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    box-shadow:  0 0 0 15px white,
                 0 0 0 25px rgb(13, 98, 126),
                 0 35px 60px;
    }
.m-slider img {
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    opacity:0;
    transition: all 0.7s;
    }
.m-slider input {
    display: none;
    }
.m-slider input:checked ~ img {
    opacity: 1;
    }
.m-slider input + label{
    position: relative;
    z-index: 50;
    margin: 20px;
    display: block;
    width: 18px;
    height: 18px;
    background: white;
    border-radius: 50%;
    border: 5px solid black;
}
.m-slider input:checked + label {
    background: black;
    border: 5px solid white;
} 
*/