
* {
  box-sizing: border-box;
  }

/*********BASE***************/

body {
  width: 1200px;
  margin: 0px auto;
  background-color: #E8EBEB ;
  font-family: 'Josefin Sans', sans-serif;
  font-style: italic;
  line-height: 1.5;
  font-size: x-large;
  border: solid;
    }

article,
aside,
footer,
header,
main,
menu,
nav,
section,
{
  display: block;
 
}

@font-face {
    font-family: 'Josefin Sans', sans-serif;
    src: url("../fonts/JosefinSans-Italic-VariableFont_wght") format("wght"),
         url("../fonts/JosefinSans-VariableFont_wght") format("wght");
    font-weight: normal;
    font-style: normal;
    }

ul  {
    list-style: none;
    
    }

p, span, label
    {
    font-weight: bold;
    }   


h1 {
    font-size:25px;
    font-weight: bold;
    display: block;
    margin: 15px auto;
    text-align: center;
    width: 80%;
    color: rgb(39, 43, 82);
    border: solid;
    border-radius: 25px;
    
    }

h2 {
    width: 30%;
    margin: auto;
    display: block;
    font-style: normal;
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
    color: rgb(76, 82, 139) ;
    }   

a   {
    font-size: 25px;
    font-weight: bold;
    color: rgb(12, 41, 68);
    }

/*************base*******************/
/* ---------- helpers ------------- */
.slider img {
    width: 6z00px ;
    height: 500px;
    margin:auto;
    display: block;
    overflow: hidden;
    background: transparent;
}
.slider {
    width: 100%;
    overflow: hidden;
    color: transparent;
}

.navbar{
      position: fixed;
      width:1170px;
      height:100px;
      top:0;
      margin: auto;
      z-index:9999; /*sirve para traer adelante el NAV*/
  }
  
.mb-15 {
	margin-bottom:15px;
}

.mt-15 {
	margin-top:15px;	
}

.float-left{
    float: left;
}
.float-right{
    float: right;
}
.idioma a img{
    width: 5%;
    height: 5%;
    display: block;
    border: solid;
    position: relative;
    margin: 10px 5px;
    float: left;
}

.container nav ul li{
    display: inline-block;
    padding: 10px 10px;
    text-decoration: none;
    
}



nav ul {
    border:solid;
    display:block;
    position: relative;
    margin: 10px;
    width: 70%;
    height:75px;
    float:left;
    border: solid;
   
}

header a img {
    width: 30%;
    display: block;
    padding: 0px auto;
    position: relative;
    margin: -15% auto;
   
}

.container ul li a:hover{
    background-color:rgb(1, 131, 163);
    color:#f5f4f4;
    border-bottom:solid 4px #70ce94;
    padding: 10px;
    pointer-events: none;
    

}
/*punto 4 ----*/

.article-hotel article {
    width:40%;
    height: 200px;
    display: inline;
        }
/*max width*/

.mapa iframe{
        position:relative;
        margin:auto;
        }
                 

/*punto 3--- cambio de color y agregar subrayado cuando el usuario pase por encima con la pseudo-clase :hover*/


.article-hotel img{
    width:500px;
    height: 600px;
    display: block;
    margin:auto;
}
.article-hotel span{
    display: block;

    text-align: center;
}

.article-pictograma img{
   width:15%;
   height: 15%;
   display: block;
   margin:auto;
   border:solid;
}

.article-pictograma span{
  display: block;
  margin:auto;
  border: solid;
  text-align: center;
}

/*----------layouts-----------------*/

.form {
        width: 50%;
        display: block;
        margin: auto;
        text-align : center;
        }  
.contacto  {
    display: block;
    float: left;
}
.contacto img{
    height:150px;
    width: 150px;
    display: block;
    margin: 0px 220px;
    border: solid;
    padding:0;
}
.contacto a {
    display: block;
    margin:0px 250px;
       
}
.aside-2 {
    
    display: block;
    float: left;
    position: relative;
}
.aside-1 {
   
    display: block;
    float: left;
}

/*punto 5.2 agregado sombras y bordes redondeados*/
.form {
    width: 75%;
    background-color: rgba(179, 179, 179, 0.3);
    border:solid rgb(66, 126, 146);
    border-radius: 10px;
    box-shadow: 0px 10px 5px ;
    }        


.mapa iframe{
    display: block;
    margin: 15px auto;
    
}
/* ---------- components ------------- */

.btn{
    max-width: 100%;
    text-align: center;
    display: block;
    margin: 10px auto;
    width: 25%;
    background-color: rgb(185, 209, 181);
    border:solid rgb(146, 154, 170);
    box-shadow: 5px 5px 5px cornflowerblue;
    border-radius: 50px;
    }
    
.btn a{
            
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: large;
    text-decoration: none;
    display: block;
   
    }

.btn:hover{
    background-color: rgb(248, 149, 68);

    }
 
/* Grid system */ 
.row {
    margin-right: -15px;
    margin-left: -15px;
  }
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12 {
      position:relative;
      float:left;
      min-height:1px;
      padding-left:15px;
      padding-right:15px;
  }
  
  /* 
   12 ----- 100%
   5  ----- x
  
   Camino más corto
   5/12
  */
  
  .col-12 {
      width:100%;
  }
  .col-11 {
      width: 91.66666667%;
  }
  .col-10 {
      width: 83.33333333%;
  }
  .col-9 {
      width: 75%;
  }
  .col-8 {
      width: 66.66666667%;
  }
  .col-7 {
      width: 58.33333333%;
  }
  .col-6 {
      width: 50%;
  }  
  .col-5 {
      width: 41.66666667%;
  }
  .col-4 {
      width: 33.33333333%;
  }
  .col-3 {
      width: 25%;
  }
  .col-2 {
      width: 16.66666667%;
  }
  .col-1 {
      width: 8.33333333%;
  } 
  
  

/* ---------- pages/sections ------------- */
/*punto 5.1 agregado de imagen de fondo al header*/
header {
    background-image:url("../images/section_1_hotel.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height:100%;
    display: block;
    margin: auto;
    }

    .container {
        width:1200px;
        height:auto;
        position:relative;
        margin:0px auto;
        padding-left:15px;
        padding-right:15px;
        overflow:hidden;
        max-width:100%;
      }
      
    header {
        width: 1170px;
        height:500px;
        margin-top: 150px;
        padding: 15px;
        border:solid;
        position: relative;
        }
    nav {
        background-color: rgb(151, 221, 171);
        width: 50%;
        height:600px;	
        border:solid;
        max-width: 100%;
        position: relative;
    }
    section {	
        width:100%;
        height:100%;
        margin-top: 15px;
        margin-bottom: 15px;
        display:block;
        float:left;
        position: relative;
        border:solid;
    }
    aside {
	width:570px;
	height:680px;	
	margin: auto;
	/*position: relative;*/
	/*float: right;*/
    border:solid;
	position:relative;
	display: block;
	float: left;
    }
    footer {	
    height:200px;
    margin: 15px auto;
    border:solid blue;
    
    }

.modal_mask {
    position: fixed;
    top:500px;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    background-color: rgba(0,0,0,0.35);
    transition:all 400ms ease-in-out;
}

.content {
    width: 30%;
    margin: 30px auto;
    background-color: white;
    color:black;
    border: solid 2px black;
    text-align: center;

}
.modal_mask:target {
    opacity:1;
    top:0px;
    pointer-events: auto;
}

.content h3 {
    color:blue;
    text-decoration: underline;
}




















/*
estilos slider
.slider {
    width: 95%;
    margin: auto;
}
.slider ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 20s infinite alternate linear;
    animation-timing-function: ease-out;
}

.slider li {
    width: 80%;
    list-style: none;
}
.slider img{
    width: 80%;
}
@keyframes cambio {
    0%  {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}
    
    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}
.galeria {
    width: 90%;
    margin: auto;
    list-style: none;
    padding: 50px;
    box-sizing: border-box;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.galeria li{
    margin: 5px;
}
.galeria img {
    width: 150px;
    height: 100px;
}
         fin estilos slider

*/


/* estilos del modal 
.modal {
    display: none;
}
.modal:target{
    display: block;
    position: fixed;
    background-color: rgb(0, 0, 0, 0.7);
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}

.modal h3{
    color: blue;
    font-size: 30px;
    text-align: center;
    margin: 15px 0;
    }

.imagen {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagen a {
    color: orange;
    font-size: 40px;
    text-decoration: none;
    margin: 0 10px
}
.imagen a:nth-child(2){
    margin: 0;
    height: 100%;
    flex-shrink: 2;
}

.imagen img {
    width: 500px;
    height: 100%;
    max-width: 100%;
    border: 10px solid brown;
    box-sizing: border-box;
}
.cerrar {
    display: block;
    background-color: chartreuse;
    width: 25px;
    height: 25px;
    margin: 20px auto;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color: black;
    padding: 5px;
    border-radius: 50%;
    line-height: 25px;
}

/* fin estilos modal*/

/*
 slider manual
.m-slider {
    width:800px;
    height: 600px;
    margin: auto;
    position: relative;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    box-shadow:  0 0 0 15px white,
                 0 0 0 25px rgb(13, 98, 126),
                 0 35px 60px;
    }
.m-slider img {
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    opacity:0;
    transition: all 0.7s;
    }
.m-slider input {
    display: none;
    }
.m-slider input:checked ~ img {
    opacity: 1;
    }
.m-slider input + label{
    position: relative;
    z-index: 50;
    margin: 20px;
    display: block;
    width: 18px;
    height: 18px;
    background: white;
    border-radius: 50%;
    border: 5px solid black;
}
.m-slider input:checked + label {
    background: black;
    border: 5px solid white;
} 
*/